<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="text-center" id="titulo" data-titulo="Lista de Alunos">Alunos</h1>
    <table class="table align-center table-striped table-dark table-hover overflow-hidden rounded-3">
        <tr class="table-light">
            <th>Nome</th>
            <th>Email</th>
            <th>Curso Matriculado</th>
            <th>Remover</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.email}"></td>
            <td th:text="${aluno.nomeCurso}"></td>
            <td><a class="btn btn-danger text-white" th:href="@{alunos/remover/{id}(id=${aluno.id})}">X</a></td>
        </tr>
    </table>
</div>
