<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
  <style>
    .formulario {
        margin-top: 100px;
    }

    label, input {

    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin: auto;
        padding: 50px;
        border-radius: 10px;
        height: 100%;
        background-color: #222831;
        box-shadow: 0px 0px 10px rgba(104, 183, 184, 0.6);
    }

    form label {
        text-align: left;
    }

    form input:not([type="button"]) {
        border: none;
        background-color: #EEEEEE;
        border-radius: 3px;
        padding: 5px;
    }

    form input[type="submit"] {
        margin: 12px auto;
        width: 50%;
    }

    form input[type="button"] {
        background-color: pink;
        border: 0 !important;
    }

    select {
        cursor: pointer;
    }

    h1 {
        text-align:center;
    }
  </style>

  <div class="formulario">
    <h1 class="text-center" id="titulo" data-titulo="Cadastro de Curso">Cadastro de Curso</h1>
    <form action="/cadastro/curso" method="post" th:object="${cadastro}">
      <label for="nome">Nome do curso</label>
      <input type="text" class="form-control" id="nome" name="nome" required>
      <br>
      <label for="sigla">Sigla do curso</label>
      <input type="text" class="form-control" id="sigla" name="sigla" required>
      <br>
      <label for="carga-horaria">Carga horária</label>
      <input type="number" class="form-control" id="carga-horaria" name="cargahoraria" required>
      <br>
      <label for="universidade">Sigla da Universidade</label>
      <input type="text" id="universidade" name="universidade" required>
      <br>
      <label for="disciplinas">Siglas das disciplinas</label>
      <input type="text" id="disciplinas" name="disciplinas" required>
      <input type="submit">
      <p th:text="${resposta}" th:if="${resposta} != null" class="text-center"></p>
    </form>
  </div>
</div>
