<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="text-center" id="titulo" data-titulo="Lista de Cursos">Cursos</h1>
    <table class="table align-center table-striped table-dark table-hover overflow-hidden rounded-3">
        <tr class="table-light">
            <th>Nome</th>
            <th>Carga Horária</th>
            <th>Disciplinas</th>
            <th>Universidade (Sigla)</th>
            <th>Remover</th>
        </tr>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.nome}"></td>
            <td th:text="${curso.cargaHoraria}"></td>
            <td><span th:text="${#strings.listJoin(curso.disciplinas, ', ')}"></span></td>
            <td th:text="${curso.siglaUniversidade}"></td>
            <td><a class="btn btn-danger text-white" th:href="@{cursos/remover/{id}(id=${curso.id})}">X</a></td>
        </tr>
    </table>
</div>
