<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="text-center" id="titulo" data-titulo="Lista de Matriculas">Lista de Matriculas</h1>
    <table class="table align-center table-striped table-dark table-hover overflow-hidden rounded-3">
        <tr class="table-light">
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Semestre</th>
        </tr>
        <tr th:each="matricula : ${matriculas}">
            <td th:text="${matricula.nomeAluno()}"></td>
            <td th:text="${matricula.nomeDisciplina()}"></td>
            <td th:text="${matricula.semestre()}"></td>
        </tr>
    </table>
</div>
