<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .formulario {
        margin-top: 200px;
    }

    label, input {
        display: block;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin: auto;
        padding: 50px;
        border-radius: 10px;
        height: 100%;
        background-color: #222831;
        box-shadow: 0px 0px 10px rgba(104, 183, 184, 0.6);
    }

    form label {
        text-align: left;
    }

    form input {
        border: none;
        background-color: #EEEEEE;
        border-radius: 3px;
        padding: 5px;
    }

    form input[type="submit"] {
        margin: 12px auto;
        width: 50%;
    }

    h1 {
        text-align:center;
    }
</style>
    <div class="formulario">
        <h1 class="text-center" id="titulo" data-titulo="Matricula de Aluno">Matricula de Aluno</h1>
        <form action="/matricular" method="POST">
            <label for="aluno">Email do aluno</label>
            <input type="text" id="aluno" name="aluno">
            <br>
            <label for="disciplina">Sigla da disciplina</label>
            <input type="text" id="disciplina" name="disciplina">
            <br>
            <label for="semestre">Semestre</label>
            <input type="text" id="semestre" name="semestre" maxlength="6" placeholder="2022/2">
            <input type="submit">
            <p th:text="${resposta}" th:if="${resposta} != null"></p>
        </form>
    </div>
</div>
