<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .formulario {
        margin-top: 200px;
    }

    label, input {
        display: block;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        margin: auto;
        padding: 50px;
        border-radius: 5px;
        height: 100%;
        background-color: #222831;
    }

    form label {
        text-align: left;
    }

    form input {
        border: none;
        background-color: #EEEEEE;
        border-radius: 3px;
        padding: 5px;
    }

    form input[type="submit"] {
        margin: 12px auto;
        width: 50%;
    }

    h1 {
        text-align:center;
    }
</style>
    <div class="formulario">
        <h1>Matricula de aluno</h1>
        <form action="/matricular" method="POST">
            <label for="aluno">Id do aluno</label>
            <input type="number" id="aluno" name="aluno">
            <br>
            <label for="disciplina">Id da disciplina</label>
            <input type="number" id="disciplina" name="disciplina">
            <br>
            <label for="semestre">Semestre</label>
            <input type="text" id="semestre" name="semestre" maxlength="6">
            <input type="submit">
        </form>
    </div>
</div>
