<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="text-center" id="titulo" data-titulo="Lista de Universidades">Universidades</h1>
    <table class="table align-center table-striped table-dark table-hover overflow-hidden rounded-3">
        <tr class="table-light">
            <th>Id</th>
            <th>Sigla</th>
            <th>Nome</th>
            <th>Remover</th>
        </tr>
        <tr th:each="universidade : ${universidades}">
            <td th:text="${universidade.id}"></td>
            <td th:text="${universidade.sigla}"></td>
            <td th:text="${universidade.nome}"></td>
            <td><a class="btn btn-danger text-white" th:href="@{universidades/remover/{id}(id=${universidade.id})}">X</a></td>
        </tr>
    </table>
</div>
